body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;

    line-height: 25px;
    height: 25px;
    width: 25px;
  }
  
  .square:focus {
    outline: none;
  }

  .game {
    height: 300px;
    width: 100%;
    position: "relative";
    margin: 10px
  }

  .gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ol li{
    list-style-type: none;
  }
  